.sliderContainer {
	position: relative;
	width: 100%;
}

.slider,
.slidermd {
	width: 100%;
	max-width: calc(100vw - 30px);
	position: relative;

	.slick-list {
		flex: 1 0 auto;
		width: 100%;
		overflow: hidden;
		padding: 0;

		.slick-track {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			.slick-slide {
				margin-left: 10px;
				margin-right: 10px;
			}
		}

		@media screen and (max-width: map-get($grid-breakpoints-custom, lg)) {
			width: 100%;
		}
	}

	.slick-dots {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		li {
			flex: 0 1 auto;
			width: 1rem;
			height: 1rem;
			margin-right: 15px;
			background-color: var(--color-tertiary);
			border-radius: 50%;
			@extend %animateAll;

			&:last-of-type {
				margin-right: 0 !important;
			}

			&.slick-active {
				background-color: var(--color-secondary);
			}

			button {
				display: none;
			}
		}
	}
}

.sliderNav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;

	.sliderPrev,
	.sliderNext {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		img {
			width: 2.5rem;
			height: auto;
		}
	}

	.sliderPrev {
		img {
			transform: rotate(-90deg);
		}
	}
	.sliderNext {
		img {
			transform: rotate(90deg);
		}
	}
}
