
@import '../mixins/mediaqueries';
@import '../variables';

.container {
  width: 100%;
  height: auto;
  position: relative;
  padding-right: 3rem;
  padding-left: 3rem;
  max-width: 117rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  @include screen(lg) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include screen(xl) {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 117rem;

  }
  @include screen(xxl) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  & > *:not(.btn) {
    position: relative;
    width: 100%;
  }

  &.fluid {
    width: calc(100% - 16rem);
    max-width: 192rem;
    padding-right: 8rem;
    padding-left: 8rem;

    @include screen(lg) {
      width: 100%;
      padding-right: 3rem;
      padding-left: 3rem;
    }

  }
}

.mainContainer {
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

header, footer {
  flex: 0 1 auto;
}

.content {
  position: relative;
  flex: 1 0 auto;
  @extend %animateAll
}

section {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &.fullSize {
    height: 100vh;
  }
  &.halfSize {
    min-height: 60rem;
  }
  &.small {
    min-height: 45rem;
  }

  &.noJumbo {
    padding-top: 13rem !important;

    @include screen(lg) {
      padding-top: 10rem !important;
    }
  }
}
