@font-face {
    font-family: 'BEAR HUGS';
    src: url('../fonts/BEARHUGSBYRATTICSASSIN-Regular.eot');
    src: local('../fonts/BEARHUGSBYRATTICSASSIN-Regular'),
        url('../fonts/BEARHUGSBYRATTICSASSIN-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BEARHUGSBYRATTICSASSIN-Regular.woff2') format('woff2'),
        url('../fonts/BEARHUGSBYRATTICSASSIN-Regular.woff') format('woff'),
        url('../fonts/BEARHUGSBYRATTICSASSIN-Regular.svg#BEARHUGSBYRATTICSASSIN-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}