@import 'utils/variables';
@import 'utils/mixins/mediaqueries';

/* COMPONENTS */
@import 'components/commons';
@import 'components/nav';
@import 'components/jumbotron';
@import 'components/forms';
@import 'components/contact';
@import 'components/footer';
@import 'components/archives';
@import 'components/blog';
@import 'components/mentionlegales'; 
@import 'components/programmation'; 
@import 'components/faq'; 
@import 'components/socials'; 
@import 'components/scrollToTop'; 
@import 'components/map'; 

/* OTHER */
 
.separator {
    border-top: 4px solid var(--color-fifth);
}

.leaflet-container {
    z-index: 0 !important;
}

#countdown-js {
    height: 80px;
}