h1 {
    font-family: 'Title';
    font-size: var(--h1-size);
    line-height: 0.9;
    letter-spacing: 0.1rem;
    font-weight: map-get($font-weights,  900);
    color: var(--color-h1);
}

h2 {
    font-family: 'Title';
    font-size: var(--h2-size);
    font-weight: map-get($font-weights,  900);
    line-height: 1;
    color: var(--color-h2);

}

h3 {
    font-family: 'Title';
    font-size: var(--h3-size);
    font-weight: map-get($font-weights,  700);
    line-height: 1.2;
    color: var(--color-h3);

}

h4 {
    font-family: 'Title';
    font-size: var(--h4-size);
    font-weight: map-get($font-weights,  700);
    line-height: 1.2;
    color: var(--color-h4);

}

.smallTitle {
    text-transform: unset;
}



.deported {
    position: absolute !important;
    width: auto !important;
    z-index: 100;

    &.top {
        top: -5vh;
    }

    &.bottom {
        bottom: -5vh;
    }

    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}