.archive {
  position: relative;

  &Title {
    flex: 1 0 auto !important;
    width: auto !important;
  }

  &Filters {
    max-width: unset !important;
    flex: 0 1 auto !important;
    width: auto !important;
  }

  &Item {
    background-color: white;
    @extend %animateAllFast;


    &:hover {
      @extend %box-shadow-small;
    }

    &-image {
      flex: 0 1  auto;
      width: 100% !important;
      height: 25rem !important;
      object-fit: cover;
    }

    &-body {
      flex: 1 0 auto;
      width: 100%;
    }
  }

  &.programmation {
    .archiveItem {
      overflow: hidden;
      img {
        height: 300px;
        object-fit: cover;
        object-position: center top;
      }

      &-body {
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        @extend %animateAll;
      }

      &:hover  {
        box-shadow: none !important;

        .archiveItem-body {
          background-color: #{var(--color-fifth)}50;
          filter: blur(3px);
        }
      }
    }
  }

  &.billetterie {
    .archiveItem {
      border: 1px solid var(--color-fifth);
    }
  }

  &.partenaires {
    list-style: none !important;

    li {
      list-style: none !important;
    }
    
    .archiveItem {
      transition: none !important;

      img {
        min-width: 150px;
        min-height: 150px;
        object-fit: contain !important;
      }
    }
  }
}

.programmation-rs {
  position: relative;
  img {
    width: 40px;
    height: 40px;
  }
}