.archive {
  position: relative;

  &Title {
    flex: 1 0 auto !important;
    width: auto !important;
  }

  &Filters {
    max-width: unset !important;
    flex: 0 1 auto !important;
    width: auto !important;
  }

  &Item {
    background-color: white;
    @extend %animateAllFast;


    &:hover {
      @extend %box-shadow-small;
    }

    &-image {
      flex: 0 1  auto;
      width: 100% !important;
      height: 25rem !important;
      object-fit: cover;
    }

    &-body {
      flex: 1 0 auto;
      width: 100%;
    }
  }
}
