.faq {
    position: relative;
    background-color: var(--color-fifth);
    color: white;
    @extend %animateAllFast;
    overflow: hidden;
    cursor: pointer;

    & > p {
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    &-answer {
        overflow: hidden;
        background-color: white;
        @extend %animateAllFast;
        color: var(--color-fifth);
        height: auto;
    }

    &.collapsed {
        .faq-answer {
            height: 0;
        }
    }
}