.jumbotron {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -1px;
		width: 100%;
		height: 70px;
		background-position: center bottom;
		background-size: 100vw;
		background-repeat: no-repeat;
	}

	&.home {
		height: calc(100vh - 150px);
		min-height: 63rem;
		overflow: hidden;

		iframe, video {
			position: absolute !important;
			//top: -10vw !important;
			top: 50%;
			left: 50%;
			width: 100vw;
			//height: calc(100vh - 15rem);
			transform: translate(-50%, -50%);

			@include screen(md) {
				min-height: unset;
				height: 100vw;
				position: relative !important;
			}

			@media (min-aspect-ratio: 16/9) {
				  /* height = 100 * (9 / 16) = 56.25 */
				  height: 56.25vw;
			  }
				  
			  @media (max-aspect-ratio: 16/9) {
				  /* width = 100 / (9 / 16) = 177.777777 */
				  width: 177.78vh;
			  }
		}
		@include screen(md) {
			&.video {
				iframe, video {
					display: none;
				}
			}
		}
	}

	&.standard {
		height: 350px;

	}

	&Lineup {
		p {
			font-family: Rubik, sans-serif;
			line-height: 1.2;
			font-size: 3rem;

			@include screen(lg) {
				font-size: var(--h3-size);
			}
			@include screen(md) {
				font-size: var(--h4-size);
			}
		}

		@include screen(md) {
			position: absolute;
			top: 0;
		}
	}

	&#parallax_jumbo {
		.grid {
			display: grid !important;
		}
	}

	
	@include screen(md) {
		min-height: 80vh !important;
		height: 100% !important;
	}
}
