.modal {
    flex: 0 1 auto;
    z-index: 15;
    position: relative;

    &.splashScreen {
        width: auto;
        max-width: 60rem;
    
        .modal-header, .modal-footer {
            width: 23rem;
            height: 23rem;
            background-color: var(--color-secondary);
            border-radius: 50%;
            color: white;
            font-weight: map-get($font-weights,  700);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;

            @include screen(lg) {
                position: relative;
                border-radius: 0;
                flex-direction: row;
                flex: 0;
                padding: 1.5rem;
                width: 100%;
            }
        }
    
        .modal-header {
            top: 20rem;
            left: -15rem;

            @include screen(lg) {
                top:unset;
                left: unset;
                order: 0;
            }
        }
    
        .modal-footer {
            bottom: 15rem;
            right: -15rem;

            @include screen(lg) {
                bottom:unset;
                right: unset;
                order: 1;
            }
        }

        .modal-body {
            p {
                margin-bottom: 0 !important;
            }

            img {
                max-height: 80vh;
                width: auto;
                max-width: 60rem;

                @include screen(lg) {
                    width: 100%;
                    height: auto;
                }
            }

            @include screen(lg) {
                order: 2;
            }
        }
    }


    &-mask {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 100;
        opacity: 0;
        pointer-events: none;
    
        &.opened {
            opacity: 1;
            pointer-events: all;
        }
    }

    &-close {
        position: absolute;
        top: 3rem;
        right: 3rem;
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        z-index: 20;

        @include screen(lg) {
            top: 1rem;
            right: 1rem;
        }

        &:before {
            content: '';
            width: 3rem;
            height: 0.2rem;
            border-top: 0.3rem solid white;
            border-bottom: unset;
            position: absolute;
            bottom: 2rem;
            left: 1rem;
            transform: rotate(45deg);
            z-index: 10;
    
          }
    
          &:after {
            content: '';
            width: 3rem;
            height: 0.2rem;
            border-top: unset;
            border-bottom: 0.3rem solid white;
            position: absolute;
            bottom: 2.1rem;
            left: 1rem;
            transform: rotate(-45deg);
            z-index: 10;
          }
        }
}

.mainContainer.blured {
    filter: blur(1rem);
    overflow: hidden;
}